[submodule "lmdb"]
	path = src/lmdb
	url = https://github.com/huahaiy/dlmdb.git
  branch = main
[submodule "usearch"]
	path = src/usearch
	url = https://github.com/unum-cloud/usearch.git
[submodule "src/llama.cpp"]
	path = src/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
