---

version: "v-{build}"

branches:
  only:
    - master

skip_non_tags: false

image: Visual Studio 2022

configuration:
- Release

clone_folder: C:\projects\dtlvnative

clone_script:
- ps: >-
    if(-not $env:APPVEYOR_PULL_REQUEST_NUMBER) {
      git clone -q --branch=$env:APPVEYOR_REPO_BRANCH https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
      cd $env:APPVEYOR_BUILD_FOLDER
      git checkout -qf $env:APPVEYOR_REPO_COMMIT
    } else {
      git clone -q https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
      cd $env:APPVEYOR_BUILD_FOLDER
      git fetch -q origin +refs/pull/$env:APPVEYOR_PULL_REQUEST_NUMBER/merge:
      git checkout -qf FETCH_HEAD
    }

- cmd: git submodule update --init --recursive

environment:
  CLOJARS_USERNAME:
    secure: A9P42qYnNYI+9EceDI1P2A==
  CLOJARS_PASSWORD:
    secure: QBGBAPMwE4mmZlqQNIbGSF/ie4DXGOK74YML7qvWOPuFKJxqwcv4/LlZMXsbyqCPDI5auDtlQzuXarYxwBCViBThstLoPO8NFXm5N36UwB8=
  JAVA_HOME: C:\Program Files\Java\jdk21
  PATH: C:\Program Files\Java\jdk21\bin;%PATH%

build_script:
- cmd: >-

    mkdir windows-x86_64\resources\datalevin\dtlvnative\windows-x86_64

    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat', 'lein.bat')"

    call lein.bat self-install

    cd windows-x86_64

    call ..\lein.bat deps

- cmd: >-

    cd ..

    call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"

    call script\build.bat

    cd windows-x86_64

#    call ..\lein.bat deploy clojars


on_finish:
  - ps: |
      Write-Host "Looking for Clojure logs in $env:TEMP ..."
      Push-Location $env:TEMP
      $files = Get-ChildItem -LiteralPath . -Filter clojure-*.edn -File 2>$null
      if ($files) {
        foreach ($file in $files) {
          Write-Host "Dumping file: $($file.FullName)"
          Get-Content $file.FullName
        }
      } else {
        Write-Host "No matching clojure-*.edn logs found."
      }
      Pop-Location
  - cmd: IF EXIST hs_err_pid*.log echo "Found crash logs:"
  - cmd: IF EXIST hs_err_pid*.log dir hs_err_pid*.log
  - cmd: IF EXIST hs_err_pid*.log for %%F in (hs_err_pid*.log) do ( echo "----------------------------------------" && echo "Dumping %%F:" && type "%%F" )
